{%- if settings.enable_christmas_theme and settings.christmas_show_icons -%}
<div class="christmas-footer-decoration" aria-hidden="true">
  <img src="{{ 'christmas-icon-01.svg' | asset_url }}" alt="" loading="lazy">
  <img src="{{ 'christmas-icon-02.svg' | asset_url }}" alt="" loading="lazy">
  <img src="{{ 'christmas-icon-03.svg' | asset_url }}" alt="" loading="lazy">
  <img src="{{ 'christmas-icon-04.svg' | asset_url }}" alt="" loading="lazy">
  <img src="{{ 'christmas-icon-05.svg' | asset_url }}" alt="" loading="lazy">
  <img src="{{ 'christmas-icon-06.svg' | asset_url }}" alt="" loading="lazy">
  <img src="{{ 'christmas-icon-07.svg' | asset_url }}" alt="" loading="lazy">
</div>
{%- endif -%}
