{%- comment -%}
Botão VIP para captura de e-mails e direcionamento ao WhatsApp
Refatorado: agora utiliza o modal global (renderizado em theme.liquid) e o script global assets/vip-button.js
{%- endcomment -%}

{%- liquid
assign vip_button_text = settings.vip_button_text | default: 'Faça parte do grupo VIP'
assign vip_button_description = settings.vip_button_description | default: 'Receba ofertas exclusivas, descontos especiais e seja o primeiro a saber sobre novos produtos!'
assign vip_email_placeholder = settings.vip_email_placeholder | default: 'Digite seu melhor e-mail'
assign vip_submit_button_text = settings.vip_submit_button_text | default: 'Quero fazer parte'
assign vip_success_message = settings.vip_success_message | default: 'Obrigado! Você será redirecionado para o WhatsApp'
assign vip_whatsapp_number = settings.vip_whatsapp_number | default: '5534999999999'
-%}

{%- comment -%} Agora somente o botão; o modal é global {%- endcomment -%}

<div class="vip-button-wrapper" data-product-id="{{ product.id }}" data-product-name="{{ product.title }}"
  data-product-price="{{ product.price }}">
  <button type="button" class="vip-button" id="vip-button-trigger" aria-label="{{ vip_button_text }}">
    <svg class="vip-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2L15.09 8.26L22 9L17 14L18.18 21L12 17.77L5.82 21L7 14L2 9L8.91 8.26L12 2Z" fill="currentColor" />
    </svg>
    <span class="vip-button-text">{{ vip_button_text }}</span>
  </button>
</div>
